<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= beer.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beer.description %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= link_to beer.company.name, company_path(beer.company) %>
  </p>

</div>
